@layout('layouts/main')
@set('title', 'Bacon Factory | My Recruitment Task')

@section('body')
  <article data-v-06458149="" data-test="base-article" class="base-article pages-bacon"><picture data-v-ae1cf474="" data-v-06458149="" data-test="bacon-image" class="bacon-image pages-bacon__image" style="left: 50%; top: 50%;"><img data-v-ae1cf474="" src="/images/bacon.jpg" alt="Delicous Bacon Image"></picture> <button data-v-06458149="" type="button" data-test="bacon-button" class="bacon-button pages-bacon__button">Yeah, I want more bacon!</button></article>
@end