body {
  --base-background-color: #F7F8FA;
  --base-color: #333;
  --base-color-accent: #5A45FF;
  --base-color-accent-contra: #F7F8FA;
  --base-font-family: 'Poppins', sans-serif;
  --base-animation-time: 0.5s;

  --checkout-background-color: #f4f4f4;
  --checkout-font-family: 'Roboto', sans-serif;
  --checkout-border-radius: 4px;
  --checkout-box-shadow: 0 2px 0 #dcdcdc;

  --checkout-steps-header-color: black;
  --checkout-steps-header-index-background-color: black;
  --checkout-steps-header-index-color: white;

  --checkout-steps-header-index-size: 24px;
  --checkout-steps-header-gap-size: 10px;

  --checkout-summary-header-color: black;
  --checkout-summary-background-color: #fff;
  --checkout-summary-inner-border: 1px dashed #dcdcdc;
}