body {
  --base-background-color: #F7F8FA;
  --base-color: #333;
  --base-color-accent: #5A45FF;
  --base-color-accent-contra: #F7F8FA;
  --base-font-family: 'Poppins', sans-serif;
  --base-animation-time: 0.5s;

  --checkout-background-color: #f4f4f4;
  --checkout-font-family: 'Roboto', sans-serif;
  --checkout-border-radius: 4px;
  --checkout-box-shadow: 0 2px 0 #dcdcdc;

  --checkout-steps-header-color: black;
  --checkout-steps-header-index-background-color: black;
  --checkout-steps-header-index-color: white;

  --checkout-steps-header-index-size: 24px;
  --checkout-steps-header-gap-size: 10px;

  --checkout-summary-header-color: black;
  --checkout-summary-background-color: #fff;
  --checkout-summary-inner-border: 1px dashed #dcdcdc;

  --checkout-form-error-border: 1px solid #e74c3c;
  --checkout-form-background: white;
  --checkout-form-label-color: #484848;
  --checkout-form-label-font-size: 12px;
  --checkout-form-font-size: 16px;

  --checkout-form-submit-background-color: #6bd400;
  --checkout-form-submit-color: white;
  --checkout-form-submit-box-shadow: 0 2px 0 #5db603;
  --checkout-form-submit-box-shadow-clicked: 0 0 0 #5db603;

  --checkout-form-ccv-tooltip-color: #aaa;
}