body {
  --base-background-color: #F7F8FA;
  --base-color: #333;
  --base-color-accent: #5A45FF;
  --base-color-accent-contra: #F7F8FA;
  --base-font-family: 'Poppins', sans-serif;
  --base-animation-time: 0.5s;

  --checkout-font-family: 'Roboto', sans-serif;
}